html,
body {
    height: 100%;
}

body,
input,
label,
select {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.titulo {
    color: #eee;
}

h1,
h3 {
    font-weight: 400;
}

h1 {
    font-size: 32px;
}

h3 {
    color: #1c87c9;
}

.main-block,
.info {
    display: flex;
    flex-direction: column;
}

.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: #070708;
    background-size: cover;
}

form {
    width: 80%;
    padding: 25px;
    margin-bottom: 20px;
    background: #F5F6FA;
    border-radius: 5px;
}

input,
label,
select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

input::placeholder {
    color: black;
}

option {
    background: #d6dbd5;
    border: none;
}

.metod {
    display: flex;
}

input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-indent: 32px;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #1c87c9;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 5px;
    border-bottom: 3px solid #1c87c9;
    border-left: 3px solid #1c87c9;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

.abrirArchivo {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto 0;
    margin-bottom: 25px;
    margin-left: 78px;
    border: none;
    border-radius: 5px;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.abrirArchivo:hover {
    background: #095484;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #095484;
}

.btnRegresar:hover {
    background: #e92402;
}

.btnRegresar {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    background: #f72500;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 568px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    input {
        width: 46%;
    }
    input.fname {
        width: 100%;
    }
    select {
        width: 46.8%;
    }
}

.error_box {
    background: #c40018;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 12px;
    display: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.error_box.active {
    display: block;
}

input.error.active {
    border-bottom: 1px solid rgb(235, 21, 21);
}

input.error.active::placeholder {
    color: rgb(235, 21, 21);
}

.campo.on {
    display: block;
}

.campo {
    display: none;
}

.place::placeholder {
    color: red;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: -internal-light-dark(rgb(185, 34, 34), rgb(231, 231, 231)) !important;
}